<% provide :title, t("about") %>
<div class="center_content">
  <div class="left_content">
    <div class="title">
      <span class="title_icon"><%= image_tag "bullet1.gif", alt: "" %></span>
      <%= t ".about" %>
    </div>
    <div class="feat_prod_box_details">
      <p class="details">
        <%= image_tag "about.gif", alt: "", class: "right" %>
        <%= t "lorem" %>
        <br /><br />
        <%= t "lorem" %>
        <br /><br />
        <%= t "lorem" %>
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>
