<% provide :title, t("contact") %>
  <div class="center_content">
    <div class="left_content">
      <div class="title">
        <span class="title_icon"><%= image_tag "bullet1.gif", alt: "" %></span>
        <%= t "contact" %>
      </div>
      <div class="feat_prod_box_details">
        <div class="contact_form">
          <div class="form_subtitle"><%= t "require_all" %></div>
          <%= form_for :contact do |f| %>
            <div class="form_row">
              <%= f.label :name, class: "contact" %>
              <%= f.text_field :name, class: "contact_input" %>
            </div>

            <div class="form_row">
              <%= f.label :email, class: "contact" %>
              <%= f.email_field :email, class: "contact_input" %>
            </div>

            <div class="form_row">
              <%= f.label :phone, class: "contact" %>
              <%= f.text_field :phone, class: "contact_input" %>
            </div>

            <div class="form_row">
              <%= f.label :company, class: "contact" %>
              <%= f.text_field :company, class: "contact_input" %>
            </div>

            <div class="form_row">
              <%= f.label :message, class: "contact" %>
              <%= f.text_area :message, class: "contact_input" %>
            </div>

            <div class="form_row">
               <%= link_to t("send"), "#", class: "contact" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
