<% provide :title, t("home") %>
<div class="left_content">
  <div class="title"><span class="title_icon">
    <%= image_tag "bullet1.gif", alt: "" %></span>
    <%= t "advance_product" %>
  </div>
  <% @shoes.each do |shoe| %>
    <div class="feat_prod_box">
      <div class="prod_img">
        <%= link_to image_tag(shoe.img_url, alt: "", class: "thumb",
        border: "0"), shoe %>
      </div>
      <div class="prod_det_box">
        <div class="box_top"></div>
        <div class="box_center">
          <div class="prod_title">
            <%= link_to shoe.name, shoe %>
          </div>
          <p class="details">
            <%= link_to shoe.description, shoe %>
          </p>
          <%= link_to t("more"), shoe, class: "more" %>
          <div class="clear"></div>
        </div>
        <div class="box_bottom"></div>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>

  <div class="title"><span class="title_icon">
    <%= image_tag "bullet2.gif", alt: "" %></span>
    <%= t "new_product" %>
  </div>
  <div class="new_products">
    <% @new.each do |shoe| %>
      <div class="new_prod_box">
        <div class="prod_title">
          <%= link_to shoe.name, shoe %>
        </div>
        <div class="new_prod_bg"> <span class="new_icon"><%= image_tag "new_icon.gif", alt: "" %></span>
          <div class="prod_img">
            <%= link_to image_tag(shoe.img_url, alt: "", class: "thumb",
            border: "0"), shoe %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
