<% provide :title, t("page_login") %>
  <div class="left_content">
    <div class="title">
      <span class="title_icon"><%= image_tag "bullet1.gif", alt: "" %></span>
      <%= t "page_login" %>
    </div>
    <div class="feat_prod_box_details">
      <div class="contact_form">
        <div class="form_subtitle"><%= t "page_login" %></div>

        <%= form_for :session, url: login_path do |f| %>

          <div class="form_row">
            <%= f.label :email, class: "contact" %>
            <%= f.email_field :email, class: "contact_input" %>
          </div>

          <div class="form_row">
            <%= f.label :password, class: "contact" %>
            <%= f.password_field :password, class: "contact_input" %>
          </div>

          <div class="form_row">
            <%= f.label :remember_me, class: "checkbox inline" do %>
            <div class="terms">
              <%= f.check_box :remember_me, class: "session_remember_me" %>
              <span>
                <%= t "remember_me" %>
              </span>
            </div>
            <% end %>
          </div>

          <div class="form_row">
            <%= link_to t("forgot_password"), new_password_reset_path %>
            <%= f.submit t("page_login"), class: "register" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
