<% provide :title, t(".cart") %>
  <%= form_for @order, url: employee_orders_path, method: :post do |f| %>
    <div class="feat_prod_box_details">
      <table class="cart_table table table-stripped">
        <tr class="cart_title">
          <td><%= t "item" %></td>
          <td><%= t "name_shoe" %></td>
          <td><%= t "price" %></td>
          <td><%= t "quantity" %></td>
          <td><%= t "total" %></td>
        </tr>
        <% @order.order_items.each do |item| %>
          <tr>
            <td>
              <%= hidden_field_tag "order_id", @order.id %>
              <div class="new_prod_bg">
                <%= link_to image_tag(item.shoe.img_url, alt: "", class: "thumb",
                border: "0"), item.shoe %>
                <span class="new_icon">
                  <%=
                  if item.shoe.discount
                    item.shoe.discount.percent
                  end %>
                </span>
              </div>
            </td>
            <td>
              <div class="new_prod_box">
                <div class="prod_title">
                  <%= link_to item.shoe.name, item.shoe %>
                </div>
              </div>
            </td>
            <td>
              <%= item.shoe.price %>
            </td>
            <td>
              <div class="col-xs-4">
                <%= item.quantity %>
              </div>
            </td>
            <td>
              <%= number_to_currency item.total_price %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="4" class="cart_total">
            <span class="red">
              <%= t "total" %>
            </span>
          </td>
          <td>
            <%= number_to_currency @order.total_price %>
          </td>
        </tr>
      </table>
      <%= link_to t("back"), employee_orders_path, class:"continue" %>
      </div>
    <div class="clear"></div>
    <div class="form_row">
      <%= f.submit t("create_bill"), class: "checkout" %>
    </div>
  <% end %>
