<% provide :title, @user.name %>
<div class="left_content">
  <div class="title">
    <span class="title_icon"><%= image_tag "bullet5.gif", alt: "" %></span>
    <%= t "info" %>
  </div>
  <ul class="list">
    <li><strong><%= image_tag @user.picture.url if @user.picture? %></strong></li>
    <li><strong><%= t "name" %></strong><%= @user.name %></li>
    <li><strong><%= t "birthday" %></strong><%= @user.birth_date %></li>
    <li><strong><%= t "email" %></strong><%= @user.email %></li>
    <li><strong><%= t "phone" %></strong><%= @user.phone %></li>
    <li><strong><%= t "username" %></strong><%= @user.username %></li>
    <li><strong><%= t "address" %></strong><%= @user.address %></li>
    <li><strong><%= t "date_participation" %></strong><%= l(@user.created_at, format: :default)  %></li>
    <div class="form_row">
       <%= link_to t("page_edit"), edit_user_path(current_user), class: "contact" %>
    </div>
  </ul>
</div>
