<% provide :title, t("category_management") %>
<h1><%= t("category_management") %></h1>
<%= link_to t("add"), "#", class: "btn btn-sm btn-primary" %>
<table class="table table-stripped">
  <thead>
    <th><%= t "id" %></th>
    <th><%= t "name" %></th>
    <th><%= t "trademark" %></th>
    <th><%= t "publisher" %></th>
    <th><%= t "created_at" %></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.name %></td>
      <td><%= category.trademark %></td>
      <td><%= category.publisher %></td>
      <td><%= l(category.created_at, format: :default) %></td>
      <td><%= link_to t("delete"), admin_category_path(category), method: :delete,
        data: { confirm: t("question_before_del") },
        class: "btn btn-sm btn-success" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
