<% provide :title, t("user_management") %>
<h1><%= t("user_management") %></h1>
<%= link_to t("add"), "#", class: "btn btn-sm btn-primary" %>
<table class="table table-stripped">
  <thead>
    <th><%= t "id" %></th>
    <th><%= t "name" %></th>
    <th><%= t "birthday" %></th>
    <th><%= t "email" %></th>
    <th><%= t "phone" %></th>
    <th><%= t "role" %></th>
    <th><%= t "username" %></th>
    <th><%= t "address" %></th>
    <th><%= t "date_participation" %></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to t("page_edit"), "#", class: "btn btn-sm btn-success" %></td>
      <td><%= link_to t("delete"), "#", class: "btn btn-sm btn-success" %></td>
    </tr>
  </tbody>
</table>
