<% provide :title, t(".shoes") %>
<div class="left_content">
  <div class="crumb_nav">
    <%= link_to t("home"), root_path %> &gt;&gt;
    <%= t "all_shoes" %>
  </div>
  <div class="title">
    <span class="title_icon"><%= image_tag "bullet1.gif", alt: "" %></span>
    <%= t "all_shoes" %>
  </div>
  <div class="new_products">
    <%= render @shoes %>
    <%= paginate @shoes %>
  </div>
  <div class="clear"></div>
</div>
