<div class="footer">
  <div class="left_footer"><%= image_tag "footer_logo.gif", alt: "" %>
    <br />
    <%= link_to image_tag("csscreme.gif", alt: "", border: "0"),
      "http://csscreme.com" %>
  </div>
  <div class="right_footer">
    <%= link_to t("home"), root_path %>
    <%= link_to t("static_pages.about.about"), about_path %>
    <%= link_to t("services"), "#" %>
    <%= link_to t("privacy"), "#" %>
    <%= link_to t("static_pages.contact.contact"), contact_path %>
  </div>
</div>
