<div class="right_content">
  <div class="languages_box"> <span class="red"><%= t "language" %>:</span>
    <%= link_to t("en"), locale: "en" %>
      <%= link_to t("vi"), locale: "vi" %>
  </div>
  <div class="cart">
    <div class="title">
      <span class="title_icon"><%= image_tag "cart.gif", alt: "" %></span>
      <%= t "my_cart" %>
    </div>
  </div>
  <div class="title">
    <span class="title_icon"><%= image_tag "bullet3.gif", alt: "" %></span>
    <%= t "about" %>
  </div>
  <div class="about">
    <p>
      <%= image_tag "about.gif", alt: "", class: "right" %>
      <%= t "about_us" %>
    </p>
  </div>

  <div class="right_box">
    <div class="title">
      <span class="title_icon"><%= image_tag "bullet4.gif", alt: "" %></span>
      <%= t "promotions" %>
    </div>
    <% @promotion.each do |shoe| %>
      <div class="new_prod_box">
        <div class="prod_title">
          <%= link_to shoe.name, shoe %>
        </div>
        <div class="new_prod_bg">
        <%= link_to image_tag(shoe.img_url, alt: "", class: "thumb",
          border: "0"), shoe %>
          <span class="new_icon">10%</span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="right_box">
    <div class="title">
      <span class="title_icon"><%= image_tag "bullet5.gif", alt: "" %></span>
      <%= t "category" %>
    </div>
    <ul class="list">
      <% @categories.each do |category| %>
      <li><%= link_to category.name, category %></li>
      <% end %>
    </ul>
  </div>

  <div class="right_box">
    <div class="title">
      <span class="title_icon"><%= image_tag "bullet6.gif", alt: "" %></span>
      <%= t "trademark" %>
    </div>
    <ul class="list">
      <% @categories.each do |category| %>
      <li><%= link_to category.trademark, "#" %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="clear"></div>
