<div class="right_content">
  <div class="languages_box"> <span class="red"><%= t "laguage" %>:</span>
    <%= link_to t("en"), locale: "en" %>
      <%= link_to t("vi"), locale: "vi" %>
  </div>
  <div class="cart">
    <div class="title">
      <span class="title_icon"><%= image_tag "cart.gif", alt: "" %></span>
      <%= t "my_cart" %>
    </div>
    <div class="home_cart_content"> 3 x items |
      <span class="red"><%= t "total" %>: 100$</span>
    </div>
    <%= link_to t("carts.view_cart.cart"), cart_path, class: "view_cart" %>
  </div>
  <div class="title">
    <span class="title_icon"><%= image_tag "bullet3.gif", alt: "" %></span>
    <%= t "about" %>
  </div>
  <div class="about">
    <p>
      <%= image_tag "about.gif", alt: "", class: "right" %>
      <%= t "about_us" %>
    </p>
  </div>
  <div class="right_box">
    <div class="title">
      <span class="title_icon"><%= image_tag "bullet4.gif", alt: "" %></span>
      <%= t "promotions" %>
    </div>
    <div class="new_prod_box">
      <%= link_to "product name", "#" %>
      <div class="new_prod_bg">
        <span class="new_icon"><%= image_tag "promo_icon.gif", alt: "" %></span>
        <%= link_to image_tag("thumb2.gif", alt: "", class: "thumb", border: "0"), "#" %>
      </div>
    </div>
    <div class="new_prod_box">
      <%= link_to "product name", "#" %>
      <div class="new_prod_bg">
        <span class="new_icon"><%= image_tag "promo_icon.gif", alt: "" %></span>
        <%= link_to image_tag("thumb2.gif", alt: "", class: "thumb", border: "0"), "#" %>
      </div>
    </div>
    <div class="new_prod_box">
      <%= link_to "product name", "#" %>
      <div class="new_prod_bg">
        <span class="new_icon"><%= image_tag "promo_icon.gif", alt: "" %></span>
        <%= link_to image_tag("thumb2.gif", alt: "", class: "thumb", border: "0"), "#" %>
      </div>
    </div>
  </div>
  <div class="right_box">
    <div class="title">
      <span class="title_icon"><%= image_tag "bullet5.gif", alt: "" %></span>
      <%= t "category" %>
    </div>
    <ul class="list">
      <% @categories.each do |categories| %>
      <li><%= link_to categories.name, "#" %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="clear"></div>
